*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.5;
   
}

.buttons{
    margin: 30px 0;
    display: flex;
    gap: 20px ;
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}



#rock{
    background-color: #ffffff;
}

#paper{
    background-color: #ffffff;
}


#scissors{
    background-color: #ffffff;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span{
    color: blue;

}

.machine-score span{
    color: red;

}
